INST "VGA_R<0>" TNM = VGA_R;
INST "VGA_R<1>" TNM = VGA_R;
INST "VGA_R<2>" TNM = VGA_R;
INST "VGA_R<3>" TNM = VGA_R;
NET "USER_LOGIC_I/clk_25mhz1" TNM_NET = USER_LOGIC_I/clk_25mhz1;
TIMESPEC TS_USER_LOGIC_I_clk_25mhz1 = PERIOD "USER_LOGIC_I/clk_25mhz1" 40 ns HIGH 50%;
INST "VGA_G<0>" TNM = VGA_G;
INST "VGA_G<1>" TNM = VGA_G;
INST "VGA_G<2>" TNM = VGA_G;
INST "VGA_G<3>" TNM = VGA_G;
INST "VGA_B<0>" TNM = VGA_B;
INST "VGA_B<1>" TNM = VGA_B;
INST "VGA_B<2>" TNM = VGA_B;
INST "VGA_B<3>" TNM = VGA_B;
